*{
    margin: 0px;
    padding: 0px;
}

.bgimage{
    background-image: url('../images/pic2.jpg');
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    opacity: 0.7;
}
.text{
    position: absolute;
    top: 500px;
    left: 720px;
}
.menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: rgba(0,0,0,0.5);
}
.leftmenu{
    width: 25%;
    line-height: 100px;
    float: left;
}
.leftmenu h4{
    padding-left: 70px;
    font-weight: bold;
    color: white;
    font-size: 20px;
    font-family: 'Montserrat',sans-serif;
}
.rightmenu{
    width: 75%;
    height: 100px;
    float: right;
}
.rightmenu ul{
    margin-left:600px ;
}
.rightmenu ul li{
    font-family: 'Montserrat',sans-serif;
    font-size: 20px;
    display: inline-block;
    list-style: none;
    color: white;
    font-weight: bold;
    line-height: 100px;
    margin-left: 60px;
    text-transform: uppercase;
}
#firstlist{
    color: orange;
}
.rightmenu ul li:hover{
    color: orange;
}